<footer class="bg-zinc-900 text-white py-12">
    <div class="max-w-7xl mx-auto px-24 max-sm:px-5 flex justify-between items-center flex-col sm:flex-row">
      <p>&copy; 2024 Rythm Nation. All rights reserved.</p>
      <ul class="flex gap-x-8 mt-4 sm:mt-0">
        <li><a href="/" class="text-teal-400">Home</a></li>
        <li><a href="/about" class="text-teal-400">About</a></li>
        <li><a href="/blog" class="text-teal-400">Blog</a></li>
      </ul>
    </div>
  </footer>
  